footer {
    position: relative;

    background-color: var(--darkPurple);
}

.footer_copyright {
    color: var(--gold);

    text-align: center;
    padding: var(--smallPadding) var(--mediumPadding);
}