.squadronMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: var(--largePadding) auto;
    width: 40%;
}

.squadronMenu:hover {
    cursor: pointer;
} 

.icon_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: var(--smallPadding);
}

.icon_label {
    color: var(--gold);
    text-align: center;
}

