/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap'); /* Arvo */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); /* Raleway */

/* Aurabesh fonts */
@font-face {
    font-family: 'Aurabesh';
    src: url("./aurebesh/Aurebesh.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aurabesh';
    src: url("./aurebesh/Aurebesh\ Italic.otf") format("otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aurabesh';
    src: url("./aurebesh/Aurebesh\ Bold.otf") format("otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aurabesh';
    src: url("./aurebesh/Aurebesh\ Bold\ Italic.otf") format("otf");
    font-weight: bold;
    font-style: italic;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
}