


/* Base */
@import "./styling/reset.css";
@import "./styling/settings.css";
@import "./styling/typography.css";

/* common */
@import "./styling/header.css";
@import "./styling/footer.css";

/* home */
@import "./styling/hero.css";
@import "./styling/homeMenu.css";

/* Squadrons */
@import "./styling/squadInfo.css";
@import "./styling/squadronsMenu.css";

/* Videos */
@import "./styling/categories.css";
@import "./styling/media.css";

/* Join Us */
@import "./styling/join.css";


body {
    background-image: url("./assets/backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:absolute;
}